.home{
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 10rem 10rem;
    gap: 3rem;
}
.home h3{
    font-size: 2.5rem;
    color: white;
}
.home h1{
    font-size: 5rem;
    color: white;
}
.home h1 span{
    color: var(--springGreen);
}
.home>.home1>a>button{
    margin: auto;
}
.home p{
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
}

.home2>img{
    height:40rem;
    width: 30rem;
    border-radius: 1rem;
    border: 2px solid var(--springGreen);
    object-fit:cover;
    box-shadow: 0px 0px 25px 8px var(--springGreen);
}
.home2{
    /* border: 2px solid white; */
    border-radius: 1rem;
    margin-top: 6rem;
    object-fit:fill;
}