.home{
    padding: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: white;
    align-items:flex-start;
    font-size: 2rem;
    margin-top: 3rem;
}
.home p{
    margin-bottom: 1rem;
}
.home h1{
    margin-bottom: 1rem;
    color:var(--springGreen);
}

/* .home .home1 h1 .example-selector{
    text-shadow: 3px 3px 2px yellow;
    font-size: 45px ;
    color: black;
}
.home .home1 h1 .example-selector{
    font-size: 35px ;
    color:red;
    font-weight: 900;
} */