.home{
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 10rem 10rem;
    gap: 3rem;
}
.home h3{
    font-size: 2.5rem;
    color: white;
}
.home h1{
    font-size: 5rem;
    color: white;
}
.home h1 span{
    color: var(--springGreen);
}
.home p{
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
}

.home2>img{
    height: 320px;
    width: 300px;
    border-radius: 1rem;
    margin-top: 6rem;
    object-fit:fill;

}